# IDEs
.idea/
.vscode/
*.iml
*.log

# Java
target/
# .mvn/ contiene maven-wrapper.properties necesario para CI
!.mvn/
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.properties

# Python
__pycache__/
venv/
.env

# Node
node_modules/
dist/
